<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="back.path"><mat-icon>{{title.icon}}</mat-icon></a>
  <a mat-tab-link class="header">{{title.label}}</a>
  <a mat-tab-link
     *ngFor="let link of links"
     (click)="aLink = link"
     [active]="aLink == link">
    <mat-icon>{{link.icon}}</mat-icon>
    {{link.label}}
  </a>
</nav>
<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <div class="nav">
      {{back.label}}
      <mat-icon>{{back.icon}}</mat-icon>
     {{aLink.title}}
      <div *ngIf="aLink.label == 'Create'; else remove">
    <h3>Add Database</h3>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
         <input class="field" matInput *ngFor="let field of databaseFields" [placeholder]="field.name" [name]=field.name ngModel>
        <button>Submit</button>
      </form>
      </div>
      <ng-template #remove><h3>Remove Database</h3>
        <mat-form-field>
          <mat-select placeholder="Databases" [formControl]="databases" multiple>
<!--            <mat-select-filter-->
<!--              [array]="databases"-->
<!--              [displayMember]="'database'"-->
<!--              (filteredReturn)="filteredDatabases = $event"></mat-select-filter>-->
            <mat-option
              *ngFor="let db of databases"
              [value]="databases"
            >{{db.database}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
<nav mat-tab-nav-bar>
<a mat-tab-link
   *ngFor="let tab of tabs"
   (click)="aTab = tab"
   [active]="aTab == tab">
  <mat-icon>{{tab.icon}}</mat-icon>
  {{tab.label}}
</a>
</nav>

<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <div class="nav">
      {{back.label}}
      <mat-icon>{{back.icon}}</mat-icon>
      {{aLink.title}}
      <mat-icon>{{back.icon}}</mat-icon>
      {{aTab.title}}
    </div>
  </mat-card-content>
</mat-card>
