/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


nav {
  text-transform: uppercase;
}

mat-card-content {
  display: flex;
}

.sumCard {
  float: left;
  width: 50%;
  alignment: top;
  vertical-align: top;
}

.header {
  text-transform: capitalize;
  pointer-events: none;
  margin-right: 5vw;
}

.mat-tab-link{
  color: #444444;
}
.mat-tab-link.mat-tab-label-active{
  color: navy;
}

